.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.page-header {
  padding: 25px;

  h1 {
    padding: 25px;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
  }
}
