* {
  font-family: $primary-font;
}

body {
  background-color: #f7f7f7;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ca6015;

  &:hover {
    color: #ca6015;
  }
}

.br-btn-outline {
  color: #ca6015;
  border-color: #ca6015;
}

.br-btn-outline:not(:disabled):not(.disabled):active,
.br-btn-outline:not(:disabled):not(.disabled).active,
.show > .btn-outline.dropdown-toggle {
  color: #fff;
  background-color: #ca6015;
  border-color: #ca6015;
}
