/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";
@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700&display=swap");

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$primary-font: "Rajdhani", sans-serif;
$primary-color: #cb6015;
$accent-color: #172654;
